@media screen and (max-width: 1200px) {
    #homepage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 1fr 250px 250px 1fr 250px 250px;
        grid-template-areas:    "slider slider"
                                "studio-info studio-info"
                                "studio-pic1 studio-pic2"
                                "studio-pic3 studio-pic3"
                                "class-info class-info"
                                "class-pic1 class-pic2"
                                "class-pic3 class-pic3";
    }

    #footer {
        text-align: center;
    }

    /*.tab-nav-label {
        display: grid;
        grid-column: 3;
    }

    .tab-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: right;
        max-height: 0;
        overflow: hidden;
    }

    .nav-checkbox input:checked ~ .tab-content {
        max-height: 400px;
    }*/

    #trainers-page {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    #trainers-table {
        margin-left: auto;
        margin-right: auto;
    }

    #login-table {
        width: auto;
    }

    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #DFF8EB;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 1s ease-in;
    }

    nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }


}
